<% content_for :page_title, "Index" %>

  <% unless current_user || current_client %>
<!--    <section class="section">-->
<!--      <div class="container">-->
<!--        <h1>Welcome to App-Tester! To see the list of job posts, Register as a company or create a user account.</h1>-->
<!--      </div>-->
<!--    </section>-->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Welcome to App-Tester! <br /><br />
          <h3>To see the list of job posts, Register as a company or create a user account.</h3>
        </h1>
      </div>
    </div>
  <% end %>

  <% if current_user || current_client %>
    <section class="section">
      <div class="container">
        <% @job_posts.each do |post| %>
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= link_to post.title, post %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
