<%= form_tag exam_answers_path(method: :post), :name => 'example-1', :id => 'wrapped' do %>

<fieldset>
  <%= f.input :exam_question, input_html: {class: 'textarea'}, wrapper: false, label_html: {class: 'label'} %>
    <br /><br />
  <%= f.fields_for :exam_answer do |builder| %>
    <%= render 'answer_fields', f: builder %>
  <% end %>
</fieldset>

<% end %>

<%#= f.simple_fields_for @exam do |a| %>
  <%#= a.label :question, "Question" %>
  <%#= a.input :exam_question, input_html: {class: 'textarea'}, wrapper: false, label_html: {class: 'label'} %>
  <%#= a.label :option, "Answer Option" %>
<!--  <%#= a.input :exam_option, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'}  %><h3>If correct answer, check this box.</h3>-->
  <%#= a.check_box :exam_option, input_html: {:class => 'checkbox' }  %>
