
<% content_for :page_title, "Index" %>

<section class="section">
  <div class="container">
    <% @exams.each do |exam| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">
                <h1>
                  <%= link_to "#{exam.name}", exam_path(exam) %>
                </h1>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>