<% content_for :page_name, @test %>

<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left Side -->
      <div class="level-left">
        <h1 class="name">
          <%#= @exam.name %>
        </h1>
      </div>
    </nav>
    <hr />


    <div class="question">
      <h1>You scored <%= @test.score %> out of 10.</h1>
    </div>
  </div>
</section>