<% content_for :page_name, @test %>

<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left Side -->
      <div class="level-left">
        <h1 class="name">
          <%#= @exam.name %>
        </h1>
      </div>


        <!-- Right Side -->
        <div class="level-right">
        <p class="level-item">
          <%= link_to "Delete", test_path(@test), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger" %>
        </p>
      </div>
    </nav>
    <hr />


    <div class="question">
      <%= @test.score %>
    </div>
  </div>
</section>